<div class="cart-count" data-ajax-cart-toggle-class-button="js-my-cart-open">
    {% if cart.item_count < 10 and cart.item_count > 0 %}
        0<span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>
    {% elsif cart.item_count < 1 %}
        <span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>
    {% else %}
        <span data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>
    {% endif %}
</div>