<header class="desktop">
    <div class="header-row">

        <div class="left">
            {% render 'nav--main' %}
        </div>

        <div class="center">
            <a href='/'>{% render 'logo' %}</a>
        </div>

        <div class="right">
            {% render 'nav--secondary' %}
            {% render 'cart-count' %}
        </div>

    </div>
</header>

<header class="mobile">
    <div class="hamburger-holder">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="center">
        <a href='/'>{% render 'logo' %}</a>
    </div>
    <div class="cart-holder">
        {% render 'cart-count' %}
    </div>
</header>