<header>
    <div class="header-row">

        <div class="left">
            {% render 'nav--main' %}
        </div>

        <div class="center">
            <a href='/'>{% render 'logo' %}</a>
        </div>

        <div class="right">
            {% render 'nav--secondary' %}
            {% render 'cart-count' %}
        </div>

    </div>
</header>