<div class="header-overlay">
    <div class="wrap">

        <div class="close-header-overlay">
            {% render 'icon--close' %}
        </div>

        <div class="top">
            {% render 'logo' %}
        </div>

        <div class="middle">
            {% render 'nav--main' %}
            {% render 'nav--secondary' %}
        </div>

        <div class="bottom">
            {% render 'nav--footer' %}
        </div>

    </div>
</div>