<form action="/search" method="get" class="search-form right" role="search">
<input name="q" type="search" id="search-field" placeholder="Search store..." value="{{ search.terms | escape }}" />
<input type="submit" id="search-submit" value="Search" />
</form>