.cart-drawer {
    position: fixed;
    top: 10px;
    right: -100%;
    bottom: 10px;
    z-index: 99;
    width: 360px;
    max-width: 90%;
    background: rgb(60, 60, 60);
    border-radius: 30px;
    transition: right 0.5s ease-in-out;

    .cart-drawer--wrapper {
        padding: 20px;
        position: relative;
        height: calc(100svh - 60px);
    }

    .cart-drawer--close {
        position: absolute;
        cursor: pointer;

        path {
            stroke: var(--white);
            transition: stroke 0.5s ease-in-out;
        }
    }

    .cart-drawer--close:hover {
        path {
            stroke: var(--green);
        }
    }

    .cart-drawer--header {
        text-align: center;
        font-family: var(--header-font);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 34px;
        padding: 0 0 10px 0;
    }

    form {
        height: 100%;

        .upper {
            padding: 10px 0 40px 0;
            overflow-y: scroll
        }

        .cart-items {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .lower {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
        }

        .cart-section {
            height: calc(100% - 40px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        button[type="submit"] {
            font-size: 26px;
            text-transform: uppercase;
            font-family: var(--header-font);
            padding: 6px;
            font-weight: 700;
            background: transparent;
            border: var(--border-white);
            color: var(--white);
            width: 100%;
            margin: 18px 0 14px 0;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            border: var(--border-green);
            color: var(--green);
        }

        .view-cart--link {
            text-transform: uppercase;
            font-size: 12px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }

        .view-cart--link:hover {
            color: var(--green);
        }

        .cart-total {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            border-bottom: var(--border-white);
            padding: 0 0 6px 0;
            text-transform: uppercase;

            .total-label {
                font-family: var(--header-font);
                font-weight: 700;
                color: var(--green);
            }
        }
    }
}

.js-my-cart-open .cart-drawer {
    right: 0%;
}

@media screen and (max-width: 767px) {
    .cart-drawer {
        width: 100%;
        max-width: calc(100% - 20px);
    }
}