footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px var(--side-padding);

    ul {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 20px;
    }

    a {
        text-transform: uppercase;
        font-size: 12px;
    }

    .copyright {
        font-size: 10px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 767px) {
    footer {
        ul {
            gap: 14px;
        }
        a {
            font-size: 10px;
        }
        .copyright {
            font-size: 8px;
        }
    }
}