.social-media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify used with snippet
    margin: 60px 0 20px 0;
    gap: 10px;

    svg {
        width: 26px;
        height: 26px;

        path {
            fill: var(--white);
            transition: fill 0.5s ease-in-out;
        }
    }

    svg:hover {
        path {
            fill: var(--green);
        }
    }
}

@media screen and (max-width: 767px) {
    .social-media-icons {
        justify-content: space-between !important;
    }
}