{{ 'page--contact.css' | asset_url | stylesheet_tag }}

<div class="contact-title">
    <h1>{{ section.settings.title | default: 'Contact us' }}</h1>
</div>

{% schema %}
    {
      "name": "Contact Page",
      "tag": "section",
      "class": "contact-page",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ],
      "blocks": [
         {
           "name": "Contact",
           "type": "contact",
           "settings": [
             {
               "type": "text",
               "id": "contact_type",
               "label": "Type",
               "info": "Example: Booking (US)"
             },
             {
               "type": "text",
               "id": "contact_value",
               "label": "Contact"
             },
             {
               "type": "text",
               "id": "contact_agent",
               "label": "Agent name",
               "info": "Use if you wish to list a booking agent's name"
             },
             {
               "type": "url",
               "id": "contact_url",
               "label": "URL",
               "info": "For email links, use 'mailto:'. Example: mailto:contact@throne.work"
             }
           ]
         }
      ],
      "presets": [
        {
          "name": "Contact Page"
        }
      ],
      "enabled_on": {
        "templates": ["page"]
      }
    }
    {% endschema %}
    