{{ 'page--collection.css' | asset_url | stylesheet_tag }}
{{ 'card--product.css' | asset_url | stylesheet_tag }}

<div class="collection-page">

  <div class="layout-switcher">
    <div class="grid-switch">
      {% render 'icon--grid' %}
    </div>
    <div class="row-switch active">
      {% render 'icon--row' %}
    </div>
  </div>

  <div class="collection--row">
    {% paginate collection.products by 20 %}

      <ul>
        {% for product in collection.products %}   
          {% render 'card--product', product: product %}
        {% else %}
    
          <li class="no-products">
            <p>There are no products in this view.</p>
          </li>
    
        {% endfor %}
      </ul>
    
      <div class="pagination">
        {% if paginate.pages > 1 %}
          {{ paginate | default_pagination }}
        {% endif %}
      </div>
    
    {% endpaginate %}
  </div>

  <div class="collection--column">
    {% paginate collection.products by 20 %}

      <ul>
        {% for product in collection.products %}
          {% render 'card--product', product: product %}
        {% else %}
          <li class="no-products">
            <p>There are no products in this view.</p>
          </li>
    
        {% endfor %}
      </ul>
    
      <div class="pagination">
        {% if paginate.pages > 1 %}
          {{ paginate | default_pagination }}
        {% endif %}
      </div>
    
    {% endpaginate %}
  </div>

</div>

<script>
  var gridSwitch = jQuery('.grid-switch');
  var grid = jQuery('.collection--column');
  var rowSwitch = jQuery('.row-switch');
  var row = jQuery('.collection--row');


  jQuery(rowSwitch).on('click', function() {
    jQuery(this).addClass('active');

    jQuery(row).css('display', 'block');
    jQuery(grid).css('display', 'none');

    if ( jQuery(gridSwitch).hasClass('active') ) {
      jQuery(gridSwitch).removeClass('active');
    }
  });

  jQuery(gridSwitch).on('click', function() {
    jQuery(this).addClass('active');

    jQuery(grid).css('display', 'block');
    jQuery(row).css('display', 'none');

    if ( jQuery(rowSwitch).hasClass('active') ) {
      jQuery(rowSwitch).removeClass('active');
    }
  });
</script>