{% if page.handle == 'data-sale-opt-out' %}
  <style>
    main {
      padding: 110px var(--side-padding) 40px var(--side-padding);
    }

    h1 {
      font-size: var(--header-font);
      color: var(--green);
      margin: 0 0 20px 0;
    }

    p {
      line-height: 1.4;
    }

    form {
      margin-top: 60px;
    }

    form button {
      display: inline;
      background: transparent;
      border: 0;
    }

    form input[type="email"] {
      width: 100%;
      background: transparent;
      color: var(--green);
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: var(--border-white);
      font-size: 24px;
    }

    form input[type="email"]::placeholder {
      color: var(--white);
      font-size: 24px;
    }

    form path {
      stroke: var(--green);
    }

    form label {
      display: none;
    }
  </style>
{% endif %}
<h1>{{ page.title }}</h1>
{{ page.content }}